{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type"
        content="text/html; charset=utf-8">
        <meta name="viewport"
        content="widh=device-widh, intial-scale=1, shrink-to-fit no"
        <title>{% block title %}Главная{% endblock %} - Доска объявлений</title>   
       {% bootstrap_css %}
       <link rel="stylesheet" type="text/css"
       href="{% static 'main/style.css' %}">
       {% bootstrap_javascript jquery='slim' %}
    </head>
    <body class="container-fluid">
<header class="mЬ-4">
<h1 class="display-1 tехt-сеntеr">Форумы</h1>
</header>
<div class="row">
<ul class="col nav justify-content-end border">
<li class="nav-item">
<A class="nav-link" hrеf= "#" >Регистрация</a></li>
{% if user.is_authenticated %}
<li class="nav-item dropdown">
<A class="nav-link dropdown-toggle"
data-toggle="dropdown" href="#"
role="button" aria-haspopup="true"
aria-expanden="False">Профиль </a>
<div class="dropdown-menu">
<A class="dropdown-item" href="#">Moи
объявления</a>
<A class="dropdown-item" hrеf="#">Изменить личные
данные</a>
<A class="dropdown-item" hrеf="#">Изменить
пароль</a>
<div class="dropdown-divider"></div>
<A class="dropdown-item" hrеf="#">Выйти</a>
<div class="dropdown-divider"></div>
<A class="dropdown-item" hrеf="#">Удалить</a>
</div>
</li>
{% else %}
<li class="nav-item"><A class="nav-link"
href="{% url 'main:login' %}">Bxoд</a></li>
{% endif %}
</ul>
</div>
<div class="row">
<nav class="col-md-auto nav flex-column border">
<A class="nav-link root"
href="{% url 'main:index' %}">Главная</a>
<span class="nav-link root font-weight-bold" href="#">
Балт Систем</sраn>
<a class="nav-link" hrеf="#">NC201</a>
<a class="nav-link" hrеf="#">NC202</a>
<a class="nav-link" hrеf="#">NC310</a>
<a class="nav-link" hrеf="#">NC110</a>

FANUC</sраn>
<a class="nav-link" hrеf="#">Fanuc0T</a>
<a class="nav-link" hrеf="#">Fanuc0F</a>

SIMENS</sраn>
<a class="nav-link" hrеf="#">808</a>
<a class="nav-link" hrеf="#">828</a>
<a class="nav-link" hrеf="#">840</a>
<A class="nav-link root"href="{% url 'main:other' page='about' %}">
О сайте</a>
</nav>
<section class="col border ру-2">
{% bootstrap_messages %}
{% block content %}
{% endblock %}
</section>
</div>
<footer class="mt-3">
<P class="text-right font-italic">&copy; В.А.Стрельников, 2020 г.</p>
</footer>

</html>
    